# Magento
/app/*.*
/app/design/*/Magento
/app/etc/*
/app/i18n/magento
/bin
/dev/.htaccess
/dev/tests
/dev/tools/*.*
/dev/tools/grunt
/dev/tools/Magento
/dev/tools/UpgradeScripts
/generated
/lib/.htaccess
/lib/internal/GnuFreeFont
/lib/internal/LinLibertineFont
/lib/web
/node_modules
/phpserver
/pub
/setup
/var
/vendor
/*.*
/robots.txt
!/app/etc/config.php
!/dev/tools/grunt/configs/local-themes.js
!/grunt-config.json
!/Gruntfile.js
!/package.json

# Generic
.DS_Store
/.idea
/.vscode
!/.gitignore
!/composer.json
!/composer.lock
!/README*.md

# Docker (when installed in the same directory as Magento)
!/.env.dist
!/docker-compose.yml
!/docker-compose.*.yml
!/Makefile

# Tools
!/.gitlab-ci.yml
!/.smileanalyser.yaml
!/.spbuilder.yaml
!/grumphp.yaml.dist
!/magepack.config.js
!/phpcs.xml.dist
!/phpmd.xml.dist
!/phpstan.neon.dist
!/phpunit.xml.dist
