*

# Magento
!/app
!/app/code
!/app/code/**
!/app/etc
!/app/design
!/app/design/**
!/app/etc/config.php
!/app/i18n
!/app/i18n/**
!/dev
!/dev/tools
!/dev/tools/grunt
!/dev/tools/grunt/configs
!/dev/tools/grunt/configs/local-themes.js
!/m2-hotfixes
!/m2-hotfixes/**
!/.gitignore
!/composer.json
!/composer.lock
!/grunt-config.json
!/Gruntfile.js
!/package.json
!/README.md

# Magento Cloud
!/.magento
!/.magento/**
/.magento/local
!/.magento.app.yaml
!/.magento.env.yaml*
!/magento-vars.php

# Docker (when installed in the same directory as Magento)
!/docker
!/docker/**
!/docs
!/docs/**
!/.env.dist
!/compose.yaml
!/compose.*.yaml
!/Makefile

# Tools
!/.gitlab-ci.yml
!/.smileanalyser.yaml
!/.spbuilder.yaml
!/grumphp.yaml.dist
!/magepack.config.js
!/phpcs.xml.dist
!/phpmd.xml.dist
!/phpstan.neon.dist
!/phpunit.xml.dist
