# Composer settings
COMPOSER_ALLOW_SUPERUSER=1
COMPOSER_GITHUB_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COMPOSER_MAGENTO_USERNAME=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COMPOSER_MAGENTO_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
